 # Predicting Diabetes

In [1]:
from path import Path
import pandas as pd

In [2]:
data = 'data.csv'
df = pd.read_csv(data)
df.head(1)

C:\Users\JacoboPesel\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2021-10-31,z482b8,2,12,9,2,9,9,12,1,...,2,2,97,2,97,1,99,México,97,97

In [34]:
df.count()

FECHA_ACTUALIZACION      11349642
ID_REGISTRO              11349642
ORIGEN                   11349642
SECTOR                   11349642
ENTIDAD_UM               11349642
SEXO                     11349642
ENTIDAD_NAC              11349642
ENTIDAD_RES              11349642
MUNICIPIO_RES            11349642
TIPO_PACIENTE            11349642
FECHA_INGRESO            11349642
FECHA_SINTOMAS           11349642
FECHA_DEF                11349642
INTUBADO                 11349642
NEUMONIA                 11349642
EDAD                     11349642
NACIONALIDAD             11349642
EMBARAZO                 11349642
HABLA_LENGUA_INDIG       11349642
INDIGENA                 11349642
DIABETES                 11349642
EPOC                     11349642
ASMA                     11349642
INMUSUPR                 11349642
HIPERTENSION             11349642
OTRA_COM                 11349642
CARDIOVASCULAR           11349642
OBESIDAD                 11349642
RENAL_CRONICA            11349642
TABAQUISMO               11349642
OTRO_CASO                11349642
TOMA_MUESTRA_LAB         11349642
RESULTADO_LAB            11349642
TOMA_MUESTRA_ANTIGENO    11349642
RESULTADO_ANTIGENO       11349642
CLASIFICACION_FINAL      11349642
MIGRANTE                 11349642
PAIS_NACIONALIDAD        11349642
PAIS_ORIGEN              11349642
UCI                      11349642
dtype: int64

In [35]:
data = df.head(100000)
data.head(1)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2021-10-31,z482b8,2,12,9,2,9,9,12,1,...,2,2,97,2,97,1,99,México,97,97

In [36]:
data.loc[data["FECHA_DEF"]=="9999-99-99","FECHA_DEF"]="1970-01-01"
data["FECHA_DEF"]=pd.to_datetime(data["FECHA_DEF"])
data["FECHA_ACTUALIZACION"]=pd.to_datetime(data["FECHA_ACTUALIZACION"])
data.head(1)

C:\Users\JacoboPesel\anaconda3\envs\mlenv\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\JacoboPesel\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JacoboPesel\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2021-10-31,z482b8,2,12,9,2,9,9,12,1,...,2,2,97,2,97,1,99,México,97,97

In [37]:
data.loc[data["FECHA_DEF"]=="1970-01-01","Output"]= False
data.loc[data["FECHA_DEF"]!="1970-01-01","Output"]= True
data[["Output", "FECHA_DEF"]].head(50)

C:\Users\JacoboPesel\anaconda3\envs\mlenv\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\JacoboPesel\anaconda3\envs\mlenv\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

   Output  FECHA_DEF
0   False 1970-01-01
1    True 2020-07-21
2   False 1970-01-01
3   False 1970-01-01
4   False 1970-01-01
5   False 1970-01-01
6   False 1970-01-01
7   False 1970-01-01
8   False 1970-01-01
9   False 1970-01-01
10  False 1970-01-01
11  False 1970-01-01
12  False 1970-01-01
13  False 1970-01-01
14  False 1970-01-01
15  False 1970-01-01
16  False 1970-01-01
17  False 1970-01-01
18  False 1970-01-01
19  False 1970-01-01
20  False 1970-01-01
21  False 1970-01-01
22  False 1970-01-01
23  False 1970-01-01
24  False 1970-01-01
25  False 1970-01-01
26  False 1970-01-01
27  False 1970-01-01
28  False 1970-01-01
29  False 1970-01-01
30  False 1970-01-01
31  False 1970-01-01
32  False 1970-01-01
33  False 1970-01-01
34  False 1970-01-01
35  False 1970-01-01
36  False 1970-01-01
37  False 1970-01-01
38  False 1970-01-01
39   True 2020-07-19
40  False 1970-01-01
41  False 1970-01-01
42  False 1970-01-01
43  False 1970-01-01
44  False 1970-01-01
45  False 1970-01-01
46  False 1970-01-01
47  False 1970-01-01
48  False 1970-01-01
49  False 1970-01-01

 ## Separate the Features (X) from the Target (y)

In [38]:
y = data["Output"]
y=y.astype('int')
X = data.drop(columns=["Output", "FECHA_DEF", "FECHA_ACTUALIZACION", "FECHA_INGRESO", "FECHA_SINTOMAS", "ID_REGISTRO", "PAIS_NACIONALIDAD"])
X.dtypes

ORIGEN                    int64
SECTOR                    int64
ENTIDAD_UM                int64
SEXO                      int64
ENTIDAD_NAC               int64
ENTIDAD_RES               int64
MUNICIPIO_RES             int64
TIPO_PACIENTE             int64
INTUBADO                  int64
NEUMONIA                  int64
EDAD                      int64
NACIONALIDAD              int64
EMBARAZO                  int64
HABLA_LENGUA_INDIG        int64
INDIGENA                  int64
DIABETES                  int64
EPOC                      int64
ASMA                      int64
INMUSUPR                  int64
HIPERTENSION              int64
OTRA_COM                  int64
CARDIOVASCULAR            int64
OBESIDAD                  int64
RENAL_CRONICA             int64
TABAQUISMO                int64
OTRO_CASO                 int64
TOMA_MUESTRA_LAB          int64
RESULTADO_LAB             int64
TOMA_MUESTRA_ANTIGENO     int64
RESULTADO_ANTIGENO        int64
CLASIFICACION_FINAL       int64
MIGRANTE                  int64
PAIS_ORIGEN              object
UCI                       int64
dtype: object

 ## Split our data into training and testing

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.head(5)

,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,INTUBADO,NEUMONIA,...,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_ORIGEN,UCI
35641,2,12,2,2,99,2,2,1,97,2,...,2,2,1,2,2,97,7,99,97,97
31129,1,4,9,2,9,9,17,1,97,2,...,2,99,1,2,2,97,7,99,97,97
61027,1,3,21,1,15,21,114,1,97,2,...,2,1,1,4,2,97,5,99,97,97
59574,2,4,23,1,23,23,4,2,2,2,...,2,99,1,2,2,97,7,99,97,2
1053,1,4,9,1,9,9,8,1,97,2,...,2,99,2,97,2,97,6,99,97,97

 ## Create a Logistic Regression Model

In [40]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

 ## Fit (train) or model using the training data

In [41]:
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: 'Estados Unidos de América'

 ## Make predictions

In [32]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            0       0
4            1       1
5            0       0
6            0       0
7            0       0
8            0       0
9            0       0
10           0       0
11           0       0
12           0       0
13           0       0
14           0       0
15           0       0
16           0       0
17           0       0
18           0       0
19           0       0

In [33]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

1.0